* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-image: url();
    background-size: cover;
    background-color: #061E29;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* box utama */
.wrapper {
    width: 400px;
    background-color: #F3F4F4;
    border: 1px solid #eef3ff;
    padding: 30px;
    border-radius: 10px;
}

/* judul */
h1 {
    text-align: center;
    margin-bottom: 30px;
}

/* input */
.input-box {
    margin-bottom: 20px;
}

input {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #bbb;
    border-radius: 20px;
}

/* tombol */
.btn {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: #1D546D;
    border: none;
    text-align: center;
    margin-top: 10px;
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #F3F4F4;
    text-decoration: none;
    border-radius: 20px;
}

/* link regis */
.register-link {
    margin-top: 20px;
    text-align: center;
}

/* link login */
.login-link {
    margin-top: 20px;
    text-align: center;
}

.register-link a,
.login-link a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    text-decoration: underline;
}
